<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead class = "table bordered">
    <tr>
        <th> Book Name </th>
        <th> Publisher </th>
        <th> Author </th>
        <th> Genre </th>
    </tr>
    </thead>
    <tbody>
    <tr th:object = "${book}">
        <td th:text = "${book.bookName}"></td>
        <td th:text = "${book.publisher}"></td>
        <td th:text = "${book.author}"></td>
        <td th:text = "${book.genre}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>